.dark-body
{
    background-color: rgb(34, 30, 30);
    color: rgb(180, 175, 173);
    font-family: sans-serif;
    font-size: 16px;
}

.section-result
{
    width: 80%;
    margin: auto;
    padding: 10px;
}

.section-search
{
    width: auto;
    text-align: center;
    padding: 10px;

}

.text-center 
{
    text-align: center;
}

.link-img
{
    display: block;
    width: 200px;
    margin: auto;
}

a
{
    text-decoration-line: none;
    color: blue;
}

.btn-link
{
    display: inline-block;
    width: 200px;
    margin: auto;
    font-size: 16px;
    background-color: rgb(1, 216, 169);
    border-style: none;
    color: whitesmoke;
    text-decoration-line: none;
    padding: 10px;
    border-radius: 4px;
}

.btn-link:hover
{
    background-color: rgba(1, 216, 169,0.8);
    color: white;
}

.article
{
    padding: 10px;
    margin: 15px auto 10px auto;
    background-color: rgb(200, 195, 197);
    color: rgb(30, 26, 28);
    border-radius: 3px;
}

.article:hover
{
    background-color: rgba(220, 215, 217,0.9);
    color: rgb(30, 26, 28);
    border-left: rgb(1, 216, 169) solid 5px;
}

.article-link
{
    font-size: 18px;
}