.dark-body
{
    background-color: rgb(34, 30, 30);
    color: rgb(180, 175, 173);
    font-family: sans-serif;
    font-size: 16px;
}

.section-result
{
    width: 80%;
    margin: auto;
    padding: 10px;
}

.section-search
{
    width: auto;
    text-align: center;
    padding: 10px;

}

.text-center 
{
    text-align: center;
}

.link-img
{
    display: block;
    width: 200px;
    margin: auto;
}

a
{
    text-decoration-line: none;
    color: blue;
}

.btn-link
{
    display: inline-block;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: rgb(1, 216, 169);
    border-style: none;
    color: whitesmoke;
    text-decoration-line: none;
    padding: 10px;
    border-radius: 4px;
}

input[type=search] {
    display: block;
    width: 80%;
    min-width: 200px;
    margin: auto;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: rgb(34, 30, 30);
    font-size: 16px;
    font-weight: lighter;
    padding: 10px;
    border-radius: 4px;
}

.btn-link:hover
{
    background-color: rgba(1, 216, 169,0.8);
    color: white;
}

.article
{
    padding: 10px;
    margin: 15px auto 10px auto;
    background-color: rgb(220, 215, 217);
    color: rgb(30, 26, 28);
    border-radius: 2px;
    transition-duration: 0.2s;
}

.article:hover
{
    background-color: whitesmoke;
    transform: scale(1.01,1.01);
    color: rgb(30, 26, 28);
    border-radius: 0px;
    border-left: rgb(1, 216, 169) solid 7px;
}


.article-link
{
    font-size: 18px;
}

.heading
{
    font-size: 48px;
    font-weight: lighter;
    color: whitesmoke;
}

.footer-text
{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}

@media only screen and (max-width: 540px) {
    .heading {
        font-size: 24px;
    }
}